main {
  margin-top: 45px;
}

#dashboard {
  margin-top: 0;
  padding-top: 45px;
  flex: 1;
  background-size: cover;
}

#dashboard > .container > img {
  max-width: 100%;
  border-top-right-radius: 55px;
  margin-bottom: 15px;
}

main > .card {
  max-width: 450px;
}

.card h5 {
  margin-top: 10px;
}

main:not(#dashboard) > .card .card-header {
  font-size: xx-large;
}

.card input {
  margin-bottom: 20px;
}

.card button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-dark {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(61, 220, 145);
  border-color: rgb(61, 220, 145);
}

.btn-dark:hover {
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.87);
}

.alert {
  background-color: hsla(0, 0%, 94%, 0.4);
  margin: 15px 0;
  padding: 10px 15px;
}

.error {
  color: #dc3545;
}

nav, nav.bg-body-tertiary {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 1px;
  /*background-image: linear-gradient(135deg, #fdfcfb 0%, #f8f5f394 100%);*/
  background-color: rgb(237 247 243 / 62%) !important;
}

.navbar-nav {
  flex-grow: 1;
}

.navbar-brand img {
  height: 40px;
}

#status-bar {
  float: right;
  padding: 0.5rem;
  opacity: 0.7;
}

#status-bar small {
  font-size: 0.82em;
}

.flex-end {
  justify-content: flex-end;
}

.flex-right {
  margin-left: auto;
}

.form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-footer span {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1.3em;
}